@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('https://asset.gecdesigns.com/img/wallpapers/beautiful-fantasy-wallpaper-ultra-hd-wallpaper-4k-sr10012418-1706506236698-cover.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1 ;
}
